In [58]:
import pandas as pd

In [59]:
df = pd.read_csv('./EEG/DataEEG/HMI02/sample1/ET.csv')

In [61]:
x_ = []
y_ = []
_data = []
_time_stamp = []
_character_typing = []

In [47]:
df.tail()

                                                   Data    TimeStamp
8331  ['(none, none, none) : EMPTY_ET_STREAM : MainM...  2743.541750
8332  ['(none, none, none) : EMPTY_ET_STREAM : MainM...  2743.558307
8333  ['(none, none, none) : EMPTY_ET_STREAM : MainM...  2743.575502
8334  ['(none, none, none) : EMPTY_ET_STREAM : MainM...  2743.592209
8335  ['(none, none, none) : EMPTY_ET_STREAM : MainM...  2743.608609

In [1]:
# df['Data'][0]

In [2]:
# df['Data'][0].split(' : ')

In [3]:
# x,y,z = df['Data'][0].split(' : ')[0][3:-1].split(',')

In [4]:
# data = df['Data'][0].split(' : ')[1]

In [5]:
# character_typing = df['Data'][0].split(' : ')[2][:-2]

In [62]:
for i, value in enumerate(df['Data']):
    x, y, z = x,y,z = df['Data'][i].split(' : ')[0][3:-1].split(',')
    data = df['Data'][i].split(' : ')[1]
    character_typing = df['Data'][i].split(' : ')[2][:-2]
    x_.append(x)
    y_.append(y)
    _character_typing.append(character_typing)
    _data.append(data)

In [76]:
final_data = pd.DataFrame({'TimeStamp':df['TimeStamp'],'x':x_, 'y':y_, 'Data':_data, 'character typing':_character_typing  })

In [77]:
final_data

        TimeStamp     x      y             Data character typing
0     2604.688896  none   none  EMPTY_ET_STREAM         MainMenu
1     2604.704923  none   none  EMPTY_ET_STREAM         MainMenu
2     2604.721479  none   none  EMPTY_ET_STREAM         MainMenu
3     2604.737269  none   none  EMPTY_ET_STREAM         MainMenu
4     2604.755027  none   none  EMPTY_ET_STREAM         MainMenu
...           ...   ...    ...              ...              ...
8331  2743.541750  none   none  EMPTY_ET_STREAM         MainMenu
8332  2743.558307  none   none  EMPTY_ET_STREAM         MainMenu
8333  2743.575502  none   none  EMPTY_ET_STREAM         MainMenu
8334  2743.592209  none   none  EMPTY_ET_STREAM         MainMenu
8335  2743.608609  none   none  EMPTY_ET_STREAM         MainMenu

[8336 rows x 5 columns]

In [75]:
final_data.to_csv(r'./EEG/sample.csv', index = False, header=True)